__pycache__/
*.py[cod]
*$py.class
build/lib/
uteis/__pycache__/
output/
targets/

_archive/
.backup/
output*/
*.log
*.txt.bak
garbage/
26-09-2026-output/
*.log
debuglog.txt
verboselog.txt
activecommands.txt
commanderrorlog.txt
